.container {
  padding: 50px;
  text-align: center;
}

.title {
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold;
}

.description {
  margin-top: 20px;
  font-size: 1em;
  line-height: 1.6;
}
