.audioPlayer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #0A2239; /* Deep Space Blue */
  border: 1px solid #163E69; /* Rich Sapphire */
  border-radius: 10px;
}

.playButton {
  background: none;
  border: none;
  cursor: pointer;
}

.playButton svg {
  fill: #0077FF; /* Bright Electric Blue */
}

.playButton:hover svg,
.playButton:focus svg {
  fill: #163E69; /* Rich Sapphire */
}

.timeline {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: #D9E2EC; /* Light Grey */
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0070f3;
  cursor: pointer;
}

.timeline::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0070f3;
  cursor: pointer;
}