.footer {
<<<<<<< HEAD
  background-color: var(--deep-space-blue);
  color: var(--off-white);
  text-align: center;
  padding: 20px;
  font-size: 16px;
=======
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #0A2239; /* Deep Space Blue */
  color: #F0F4F8; /* Off-White */
}

.content {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
<<<<<<< HEAD
  color: white;
>>>>>>> 672a1f4b (Committing changes)
=======
  color: #F0F4F8; /* Off-White */
>>>>>>> 7e245f7d (Convert all .js files to .ts(x) and optimize tsconfig.json)
}
