.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: #0A2239; /* Deep Space Blue */
  color: #F0F4F8; /* Off-White */
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.menu {
  background-color: transparent;
  border-bottom: none;
  color: #F0F4F8; /* Off-White */
}

.menu a {
  color: #F0F4F8; /* Off-White */
}
