.container {
<<<<<<< HEAD
  background-color: #0b3d91; /* Deep Space Blue */
  color: #f8f8ff; /* Off-White */
}

.contentStyle {
  color: #00ffec; /* Vibrant Cyan */
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  background-color: #d3d3d3; /* Light Grey */
}

@media (max-width: 768px) {
  .container {
    background-color: #0b3d91; /* Slightly lighter Deep Space Blue for mobile */
  }
  .contentStyle {
    color: #00ffec; /* Slightly more saturated Vibrant Cyan for mobile */
  }
}

/* Add more custom styles as needed */
=======
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.contentStyle {
  text-align: center;
  background: #364d79;
  color: #fff;
  line-height: 160px;
  height: 160px;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
>>>>>>> 672a1f4b (Committing changes)
