.navbar {
<<<<<<< HEAD
  background-color: var(--astronomical-teal);
}

.navbar .ant-menu-item-selected, .navbar .ant-menu-item:hover {
  background-color: var(--vibrant-cyan) !important;
}

/* Add more custom styles as needed */
=======
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-weight: bold;
  font-size: 1.5rem;
}

.links a {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}

.links a:hover {
  text-decoration: underline;
}
>>>>>>> 672a1f4b (Committing changes)
