.navbar {
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: var(--astronomical-teal);
}

.navbar .ant-menu-item-selected, .navbar .ant-menu-item:hover {
  background-color: var(--vibrant-cyan) !important;
}

/* Add more custom styles as needed */
=======
  background-color: #333;
  color: white;
=======
  background-color: #0A2239; /* Deep Space Blue */
  color: #F0F4F8; /* Off-White */
>>>>>>> 7e245f7d (Convert all .js files to .ts(x) and optimize tsconfig.json)
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-weight: bold;
  font-size: 1.5rem;
}

.links a {
  margin-left: 1rem;
  text-decoration: none;
  color: #F0F4F8; /* Off-White */
}

.links a:hover {
  text-decoration: underline;
<<<<<<< HEAD
}
>>>>>>> 672a1f4b (Committing changes)
=======
  color: #163E69; /* Rich Sapphire on hover */
}
>>>>>>> 7e245f7d (Convert all .js files to .ts(x) and optimize tsconfig.json)
