.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #101010;
  color: white;
}

.logoContainer {
  flex-grow: 1;
}

.linkContainer {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.userSection {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userName {
  font-weight: bold;
}

.navLink {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.navLink:hover,
.navLink:focus {
  text-decoration: none;
  border-color: white;
}